.main {
  padding: 5rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.footer {
  width: 100%;
  height: 70px;
  border-top: 1px solid #eaeaea;
  display: flex;
  margin-top: 40vh
}

.footer a {
  clear: both;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}

.title a {
  color: #0070f3;
  text-decoration: none;
}

.title a:hover,
.title a:focus,
.title a:active {
  text-decoration: underline;
}

.title {
  margin: 0;
  line-height: 1.15;
  font-size: 4rem;
  text-align: center;
  padding-top: 2vh;
}

.description {
  text-align: center;
  line-height: 1.5;
  font-size: 1.5rem;
  padding-bottom: 1vh;
  border-bottom: 1px solid #eaeaea;
}

/*.hr {*/
/*  background-color: ;*/
/*}*/

.code {
  background: #fafafa;
  border-radius: 5px;
  padding: 0.75rem;
  font-size: 1.1rem;
  font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
  Bitstream Vera Sans Mono, Courier New, monospace;
}

.grid {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 800px;
  margin-top: 3rem;
}

.card {
  margin: 1rem;
  padding: 1.5rem;
  text-align: left;
  color: inherit;
  text-decoration: none;
  border: 1px solid #eaeaea;
  border-radius: 10px;
  transition: color 0.15s ease, border-color 0.15s ease;
  width: 45%;
}

.card:hover,
.card:focus,
.card:active {
  color: #0070f3;
  border-color: #0070f3;
}

.card h2 {
  margin: 0 0 1rem 0;
  font-size: 1.5rem;
}

.card p {
  margin: 0;
  font-size: 1.25rem;
  line-height: 1.5;
}

.logo {
  height: 1em;
  margin-left: 0.5rem;
}

@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
}

.paddingTopBottom {
  padding-top: 10px;
  padding-bottom: 10px;
}

.marginTopBottom {
  margin-top: 10px;
  margin-bottom: 10px;
}

.marginTopBottomSmall {
  margin-top: 5px;
  margin-bottom: 5px;
}

.marginRight {
  margin-right: 10px;
}

.marginLeft {
  margin-left: 10px;
}


.marginLeftRight {
  margin-right: 10px;
  margin-left: 10px;
}

.marginTop {
  margin-top: 10px;
}

.marginBottom {
  margin-bottom: 10px;
}

.marginBottomLarge {
  margin-bottom: 30px;
}

.buttonIcon {
  font-size: 18px;
}

.actionButton {
  width: 100px !important;
}

.buttonAlignRight {
  margin-left:auto;
  margin-right:fill;
}

.textColorRed {
  color: red;
}

.formBorder {
  border-width: 1px;
  border-style: solid;
  border-radius: 0.25rem;
  border-color: #ced4da;
}

.minHeightSmall {
  min-height: 50px;
}
